/* these styles all commented out to prevent clashes with the actual css styles */

/* .container {
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    grid-gap: 50px;
  }
  .container div {
    aspect-ratio: 1;
  } */


  /* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }
  .container div {
    background-color: red;
    aspect-ratio: 1;
  } */